body{
background-color: #092532;
margin: 0;

}
.fl{
  width: 340px;
  color: #1d2d50;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
.top-container{

font-size: 30px;
width: 500px;
font-family: 'Abril Fatface', cursive;
  position: relative;
  left: 600px;
  margin: 0 ;
  border-width: 0;

}
.hr1{
  position: relative;
  top: 10px;
  border: dotted;
  border-bottom: none;
  color: #a2d5f2;





}
.hr3{
  position: relative;

bottom: 490px;
  border: dotted;
  border-bottom: none;
  color: #a2d5f2;
}
#welc {
    font-family: 'Sacramento', cursive;
}
.middle-container1{
  position: relative;
  top: 20px;
  width: 350px;
  margin-left: 100px;
  font-size: 20px;
font-family: 'Dancing Script', cursive;
padding-top: 20px;
}
.my-img{
  width: 300px;
  position: relative;
  left: 600px;
  bottom: 250px;
}
.middle-container2{
  line-height: 2;
  position: relative;
  bottom: 700px;
      left: 980px;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  padding-top: 20px;
  clear: left;

}
.tb{
  color: #393b44;
  text-decoration: underline;
}
.middle-container3{
position: relative;
bottom: 570px;

  margin-left: 100px;

}
.hr2{
  position: relative;
bottom: 580px;
  border: dotted;
  border-bottom: none;
  color: #a2d5f2;
}


}
.bs{
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}
.st{
  font-family: 'Ranchers', cursive;
}
.tb2{
  font-family: 'Dancing Script', cursive;
}
.footer-container{
    font-family: 'Pacifico', cursive;
  position: relative;

  bottom: 510px;
margin: 0;
    padding-left: 200px;
  background-color: #336d88;
}
.fc-h2{
  position: relative;
  top: 20px;
  right: 60px;
  font-family: 'Abril Fatface', cursive;
}
.ltb{
  width: 500px;
  text-align: left;
  position: relative;
  left: 500px;
  bottom: 400px;
}
.ltb p{
    color: #a2d5f2;
}
.tbp{
    color: #a2d5f2;
}.middle-container{
background-color: #3b6978;
}
.COPYRIGHT{
  position: relative;
bottom: 300px;
text-align: center;
}
.imgs{

  position: relative;
  bottom:250px;
  right: 150px;
  text-align: center;
}
